<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KyuSiyasat{% endblock %}</title>
</head>

<body>
    <header>
        <a href = "{% url 'home' %}"><h1>KyuSiyasat</h1></a>
        <nav>
            <ul>
                {% block user_authentication %}
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    {% else %}
                    {% endif %}
                {% endblock %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>