{% extends "base.html" %} 

{% block content %}
<h2>Create Bus Log</h2>
<form method="post" class="form-container">
  {% csrf_token %} {{ form.as_p }}
  <div class="button-container"><button type="submit">Submit</button></div>
</form>

<br/>
<a href="{% url 'driver_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>

<br/>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% endblock %}

