{% extends "base.html" %} {% block content %}
<main class="flex-1 p-10">
  <h2 class="text-2xl font-semibold mb-4">Welcome, Driver!</h2>
  <p class="my-5 font-semibold">Here’s how to get started:</p>

  <div class="bg-white rounded-lg shadow-md p-6 mb-4">
    <h3 class="text-xl font-semibold">STEP 1</h3>
    <p class="my-5 font-semibold">
      Click on the "My Profile" tab to review your profile information. Make any
      necessary edits to ensure your details are up to date.
    </p>
    <a href="/user/profile/" class="text-blue-600 hover:underline font-semibold"
      >Redirect to “My Profile” tab</a
    >
  </div>

  <div class="bg-white rounded-lg shadow-md p-6 mb-4">
    <h3 class="text-xl font-semibold">STEP 2</h3>
    <p class="my-5 font-semibold">
      Navigate to the "Routes" tab to check the available bus schedules. Review
      the routes to find the one that aligns with your assigned runs.
    </p>
    <a href="{% url 'pages:routes' %}" class="text-blue-600 hover:underline font-semibold"
      >Redirect to “Routes” tab</a
    >
  </div>

  <div class="bg-white rounded-lg shadow-md p-6 mb-4">
    <h3 class="text-xl font-semibold">STEP 3</h3>
    <p class="my-5 font-semibold">
      Go to the "Dashboard" tab to view the information for the bus you are
      assigned to. In the driver dashboard, you can also create bus logs to
      record your driving activities and whereabouts.
    </p>
    <a href="{% url 'driver_dashboard' %}" class="text-blue-600 hover:underline font-semibold" 
      >Redirect to “Dashboard” tab</a
    >
  </div>

{% endblock %}
