{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-7xl mx-auto p-4 bg-white shadow-lg rounded-lg">
      <h2 class="text-xl font-semibold text-center mb-4">
        Quezon City Bus Routes
      </h2>

      <div class="flex justify-center">
        <img
          src="../../static/images/bus-routes.png    "
          alt="Quezon City Bus Routes"
          class="max-w-full h-auto rounded"
        />
      </div>
    </div>
  </div>

  {% endblock %}
</div>
