{% extends 'base.html' %}
{% block content %}
<div class="max-w-5xl mx-auto px-4 py-8">
  <div class="bg-white rounded-xl shadow-md border-2 border-blue-400 p-6">

    <!-- Back Button -->
    <a href="{% if request.GET.urlencode %}{% url 'commuter_dashboard' %}?{{ request.GET.urlencode }}{% else %}{% url 'commuter_dashboard' %}{% endif %}" 
       class="text-blue-400 text-xl font-[Alata] hover:text-blue-600 block mb-4">
      ←
    </a>

    <!-- Bus Number -->
    <p class="text-3xl text-[#2E2F67] font-[Alata] font-bold mb-6">{{ plate_number }}</p>

    <!-- 4 Columns with 3 rows each -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-8 text-sm text-gray-900">

      <!-- Column 1 -->
      <div>
        <p class="text-blue-400 font-[Lato]">DRIVER</p>
        <p class="font-[Alata] mb-4">{{ driver }}</p>
        <p class="text-blue-400 font-[Lato]">ROUTE</p>
        <p class="font-[Alata] mb-4">{{ route }}</p>
        <p class="text-blue-400 font-[Lato]">PLATE NUMBER</p>
        <p class="font-[Alata]">{{ plate_number }}</p>
      </div>

      <!-- Column 2 -->
      <div>
        <p class="text-blue-400 font-[Lato]">TIME DEPARTED</p>
        <p class="font-[Alata] mb-4">{{ time_departed }}</p>
        <p class="text-blue-400 font-[Lato]">PREVIOUS STATION</p>
        <p class="font-[Alata] mb-4">{{ previous_station }}</p>
        <p class="text-blue-400 font-[Lato]">TRAFFIC CONDITION</p>
        <p class="font-[Alata] mb-4">{{ traffic_condition }}</p> 
      </div>

      <!-- Column 3 -->
      <div>
        <p class="text-blue-400 font-[Lato]">ESTIMATED TIME OF ARRIVAL</p>
        <p class="font-[Alata] mb-4">{{ eta }}</p>
        <p class="text-blue-400 font-[Lato]">NEXT STATION</p>
        <p class="font-[Alata]  mb-4">{{ next_station }}</p>
        <p class="text-blue-400 font-[Lato]">PASSENGERS</p>
        <p class="font-[Alata] mb-4">{{ passengers }}</p>
      </div>

    </div>
  </div>
</div>
{% endblock %}
