{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>

    <!-- Filter Form -->
    <form method="GET" action="" class="filter-form">
        <div class="filter-container">
            <div class="filter-item">
                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option value="">All</option>
                    <option value="Operating" {% if status_filter == "Operating" %}selected{% endif %}>Operating</option>
                    <option value="Not Operating" {% if status_filter == "Not Operating" %}selected{% endif %}>Not Operating</option>
                </select>
            </div>
        
            <div class="filter-item">
                <label for="route">Route:</label>
                <select name="route" id="route">
                    <option value="">All</option>
                    {% for route in routes %}
                        <option value="{{ route.route_id }}" {% if route_filter|stringformat:"s" == route.route_id|stringformat:"s" %}selected{% endif %}>
                            {{ route.route_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="filter-button">Filter</button>
            <button type="button" style="background-color: #C0392B;" onclick="resetFilters()">Reset Filter</button>
            </button>
        </div>
    </form>

    <script>
        function resetFilters() {
            window.location.href = "{% url 'commuter_dashboard' %}";
        }
    </script>
        
<!-- Bus Grid -->
<div class="bus-grid">
    {% for bus in buses %}
        {% if bus.driver_name != "TBA" %}
            {% if bus.status == 'Not Operating' %}
                <div class="bus-card inactive" data-url="{% url 'commuter_dashboard' %}" onclick="redirectToDashboard(this);">
            {% else %}
                <a href="{% url 'bus_detail' bus.bus_id %}?{{ request.GET.urlencode }}" class="bus-card-link">
                    <div class="bus-card">
            {% endif %}
                        <h2>BUS {{ bus.bus_id }}</h2>
                        <p><strong>Driver:</strong> {{ bus.driver_name }}</p>
                        <p><strong>Route:</strong> {{ bus.busroute.route.route_name|default:"No Assigned Route" }}</p>
                        <p><strong>Plate:</strong> {{ bus.bus_plate }}</p>
            {% if bus.status == 'Not Operating' %}
                </div>
            {% else %}
                    </div>
                </a>
            {% endif %}
        {% endif %}
    {% empty %}
        <p>No buses found.</p>
    {% endfor %}
</div>

{% endblock %}